.c-Animate {
  @import "../resets/base";
  visibility: hidden;
  transition-timing-function: "ease-in-out";

  // Sequences
  &.is-entering {
    visibility: hidden;
  }
  &.is-entered {
    visibility: visible;
  }
  &.is-exiting {
    visibility: visible;
  }
  &.is-exited {
    visibility: hidden;
  }

  // Modifers
  &.is-block {
    display: block;
  }
  &.is-inline {
    display: inline;
  }
  &.is-inlineBlock {
    display: inline-block;
  }
}
