@import "pack/seed-dash/_index";
@import "pack/seed-family/_index";
@import "pack/seed-this/_index";

.c-Avatar {
  @import "../configs/color";
  @import "../resets/base";
  $block: this();
  $bdrWidth: 2px;
  $sizes: (
    lg: (
      size: 52px,
      font-size: 13px,
    ),
    md: (
      size: 46px,
      font-size: 13px,
    ),
    sm: (
      size: 30px,
      font-size: 10px,
    ),
  );
  $default-size: _get($sizes, md, size);
  color: _color(brand, primary);
  font-size: _get($sizes, md, font-size);
  height: $default-size;
  position: relative;
  width: $default-size;

  &__crop {
    align-items: center;
    background-color: currentColor;
    border-radius: 200%;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    width: 100%;

    // Styles
    @include parent(".is-circle > ") {
      border-radius: 200%;
    }
    @include parent(".is-rounded > ") {
      border-radius: 3px;
    }
    @include parent(".is-square > ") {
      border-radius: 0;
    }
  }

  &__image {
    background-position: center center;
    background-size: cover;
    display: block;
    height: 100%;
    width: 100%;
  }

  &__title {
    color: white;
    line-height: 1;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  &__status {
    position: absolute;
    z-index: 1;

    @include parent(".is-circle > ") {
      bottom: 0;
      right: 0;
    }
    @include parent(".is-circle.is-sm > ") {
      bottom: -3px;
      right: -3px;
    }
    @include parent(".is-rounded > ") {
      bottom: -6px;
      right: -6px;
    }
    @include parent(".is-square > ") {
      bottom: -6px;
      right: -6px;
    }
  }

  // Sizes
  @each $size, $values in $sizes {
    &.is-#{$size} {
      $sz: _get($values, size);
      height: $sz;
      font-size: _get($values, font-size);
      width: $sz;

      &.has-outerBorderColor {
        $sz: _get($values, size) + ($bdrWidth * 2);
        height: $sz;
        width: $sz;
      }
    }
  }

  // Styles
  &.is-light {
    color: _color(grey, 400);
    #{$block}__title {
      color: _color(text, muted);
    }
  }
}
