
@import "pack/seed-dash/_index";

.c-Badge {
  @import "../configs/color";
  @import "../configs/font";
  $status: (error, info, success, warning);
  $sizes: (
    sm: (
      font-size: 11px,
      padding: 2px 8px,
    )
  );
  $styles: (
    count: (
      font-weight: 400,
      padding: 3px
    ),
    square: (
      background-color: _color(grey, 200),
      box-shadow: 0 0 0 1px _color(border, ui) inset,
      border-radius: 3px,
      color: _color(grey, 800),
      font-weight: 400,
      padding: 4px 3px,
      font-size: 11px,
      line-height: 10px,
    ),
    white: (
      background-color: white,
      box-shadow: 0 0 0 1px _color(border, ui) inset,
      color: _color(charcoal, 200),
    )
  );

  background-color: _color(charcoal, 200);
  border-radius: 9999px;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  font-family: $font-family;
  font-size: 12px;
  font-weight: 500;
  min-width: 18px;
  line-height: 1;
  padding: 3px 8px;
  text-align: center;

  // Sizes
  @each $size, $values in $sizes {
    &.is-#{$size} {
      @each $prop, $value in $values {
        #{$prop}: $value;
      }
    }
  }

  // Status
  @each $s in $status {
    &.is-#{$s} {
      background-color: _color(state, $s, border-color);
    }
  }

  // Styles
  @each $style, $values in $styles {
    &.is-#{$style} {
      @each $prop, $value in $values {
        #{$prop}: $value;
      }
    }
  }

  // Display
  &.is-display-block {
    display: block;
  }
  &.is-display-inlineBlock {
    display: inline-block;
  }
}
