@import "../configs/_color";
$seed-card-namespace: "c-Card";
$seed-card-block-namespace: "c-CardBlock";
$seed-card-border: 1px solid _color(border, ui, dark);
// Import Seed Pack
@import "pack/seed-card/_index";

.c-Card {
  @import "../resets/base";
  border: none;
  box-shadow: #{
    0 0 0 1px rgba(_color(border, ui, dark), 0.7) inset,
  };
  color: currentColor;
  display: block;
  padding: 16px;
  text-decoration: none;

  // Modifiers
  &.is-clickable {
    cursor: pointer;
  }

  &.is-hoverable {
    box-shadow: #{
      0 1px 3px 0 rgba(black, 0.1),
      0 0 0 1px rgba(_color(border, ui, dark), 0.7) inset,
      0 -1px 0 0 _color(border, ui, dark) inset
    };
    transition: box-shadow 0.2s ease;

    &:hover {
      box-shadow: #{
        0 3px 12px 0 rgba(black, 0.15),
        0 0 0 1px rgba(_color(grey, 700), 0.7) inset,
        0 -1px 0 0 _color(grey, 700) inset
      };
    }
  }

  &.is-seamless {
    padding: 0;
  } 
}