@import "pack/seed-flexy/_index";

.o-flexy {
  $alignments: (
    top: flex-start,
    middle: center,
    bottom: flex-end,
    stretch: stretch
  );

  @each $name, $value in $alignments {
    &.is-#{$name} {
      align-items: $value;
    }
  }
}
