$seed-grid-namespace-col: "c-Col";
$seed-grid-namespace-container: "c-Container";
$seed-grid-namespace-row: "c-Row";
$seed-grid-namespace-row-flex: "c-Row-flex";

@import "pack/seed-grid/_index";

.c-Grid {
  @import "../resets/base";
}