@import "pack/seed-dash/_index";

.c-Heading {
  @import "../configs/color";
  @import "../configs/font";
  // Config
  $shades: (
    light: _color(charcoal, 200),
  );
  $sizes: (
    h1: (
      font-size: 32px,
    ),
    h2: (
      font-size: 24px,
    ),
    h3: (
      font-size: 20px,
    ),
    h4: (
      font-size: 16px,
    ),
    h5: (
      font-size: 14px,
    ),
    h6: (
      font-size: 13px,
    ),
    big: (
      font-size: 20px,
      font-weight: 600,
    ),
    small: (
      color: _color(charcoal, 500),
      font-size: 11px,
      letter-spacing: 0.5px,
      text-transform: uppercase,
    )
  );

  box-sizing: border-box;
  color: _color(charcoal, 600);
  display: block;
  font-family: $font-family;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;

  * {
    box-sizing: border-box;
  }

  // Modifiers
  &.is-disable-select {
    user-select: none;
  }

  // Sizes
  @each $size, $values in $sizes {
    &.is-#{$size} {
      @each $prop, $value in $values {
        #{$prop}: $value;
      }
      line-height: 1.2;
    }
  }

  // Shades
  @each $shade, $value in $shades {
    &.is-#{$shade} {
      color: $value;
    }
  }
}