// Dependencies
@import "pack/seed-family/_index";
@import "pack/seed-this/_index";

// Config
$seed-input-namespace: "c-Input";
// Import Seed Pack
@import "pack/seed-input/_index";

// Component styles
.c-Input {
  @import "../configs/color";
  @import "../resets/base";
  $block: this();
  $states: error, success, warning;

  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;

  // Elements
  &__item {
    position: relative;
    z-index: 1;
  }

  &__field {
    @import "../resets/base";
    appearance: none;
    background-color: transparent;
    border: none;
    color: currentColor;
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: _color(grey, 700);
    }
  }

  &__prefix,
  &__suffix {
    opacity: 0.3;
    padding-left: 4px;
    padding-right: 4px;

    @include parent("#{$block}--has-value") {
      opacity: 1;
    }
  }

  &__backdrop {
    $this: this();
    background-color: white;
    border: 1px solid _color(border, ui, dark);
    border-radius: 4px;
    bottom: 0;
    box-shadow: 0 0 0 0 rgba(_color(border), 0);
    left: 0;
    position: absolute;
    right: 0;
    transition: box-shadow 0.1s ease;
    top: 0;

    @include parent("#{$block}__field:focus ~ ") {
      border-color: _color(blue);
      box-shadow: 0 0 0 1px rgba(_color(blue), 0.3);
    }

    // Styles
    @include parent("#{$block}--seamless") {
      border-color: transparent;
      @include parent("#{$block}__field:focus ~ ") {
        border-color: transparent;
      }
    }

    // States
    @each $state in $states {
      @include parent("#{$block}.is-#{$state} #{$block}__field ~ ") {
        border-color: _color(state, $state, border-color);
      }
      @include parent("#{$block}.is-#{$state} #{$block}__field:focus ~ ") {
        box-shadow: 0 0 0 1px rgba(_color(state, $state, border-color), 0.3);
      }
    }
  }

  &__helper-label {
    @import "../resets/base";
    padding: 4px 0;

    // States
    @each $state in $states {
      @include parent("#{$block}.is-#{$state} ~ ") {
        color: _color(state, $state, border-color);
      }
    }
  }
}
