// Config
$seed-link-namespace: "c-Link";
$seed-link-include-a-selector: false;

@import "pack/seed-link/_index";

.#{seed-link-namespace} {
  @import "../resets/base";

  // Modifiers
  &.is-block {
    display: block;
  }
}
