@import "../mixins/linkStyles";

.c-Link {
  @import "../resets/base";
  @include linkStyles();

  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  // Modifiers
  &.is-block {
    display: block;
  }

  &.is-no-underline {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  &.is-word-wrap {
    word-break: break-all;
  }
}
