$seed-list-namespace: "c-List";
@import "pack/seed-list/_index";
@import "pack/seed-this/_index";

.#{$seed-list-namespace} {
  @import "../resets/base";
  $block: this();
  margin-bottom: 0;
  margin-top: 0;

  &--inline {
    #{$block}__item {
      vertical-align: middle;
    }
  }
}
