.c-Overflow {
  @import "../resets/base";
  overflow: hidden;
  position: relative;
  transition: height 100ms ease;
  will-change: height;

  &__container {
    overflow-x: auto;
    padding-bottom: 20px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__content {
    position: relative;
    white-space: nowrap;
    z-index: 0;
  }

  // Modifiers
  &__fader {
    bottom: 0;
    color: white;
    position: absolute;
    top: 0;
    width: 32px;
    transform: scaleX(0);
    z-index: 1;

    &.is-left {
      background: linear-gradient(to right, currentColor, rgba(255, 255, 255, 0));
      left: 0;
      transform-origin: left;
    }
    &.is-right {
      background: linear-gradient(to left, currentColor, rgba(255, 255, 255, 0));
      right: 0;
      transform-origin: right;
    }
  }
}
