@import "../configs/color";
@import "pack/seed-this/_index";

.c-PreviewCard {
  @import "../resets/base";
  $block: this();
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }

  &__title {
    margin-bottom: 4px;
  }

  // Modifiers
  &.is-link {
    #{$block}__title {
      color: _color(blue);
    }
  }
}
