@import "pack/seed-family/_index";

.c-Scrollable {
  $br: 4px;
  $background: white;

  box-sizing: border-box;
  display: flex;
  max-height: 100%;
  position: relative;
  width: 100%;

  &__fade {
    background: linear-gradient($background, rgba($background, 0.7), rgba($background, 0));
    height: 28px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    @include parent(".is-rounded") {
      border-top-left-radius: $br;
      border-top-right-radius: $br;
    }
  }

  &__content {
    box-sizing: border-box;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
  }
}
