@import "../configs/constants";
@import "../mixins/input-styles";

.c-Select {
  $InputField: ".c-InputField";
  $padding: 8px;
  $states: $STATES;
  
  @import "../configs/color";
  @import "../resets/base";
  @include input-styles($padding);

  #{$InputField} {
    margin-left: -($padding / 2);
    margin-right: -($padding / 2);
    top: 0;
  }
}