.c-StatusDot {
  @import "../resets/base";
  @import "../configs/color";

  $states: (
    online: _color(green),
    offline: _color(red),
    busy: _color(yellow),
    new: _color(green),
    active: _color(green),
    inactive: _color(grey, 600)
  );

  $sizes: (
    md: 8px,
    sm: 6px,
  );

  $borderWidth: 3px;
  $dotSize: 6px;
  $size: ceil($borderWidth * 2) + $dotSize;
  $defaultColor: _color(grey, 600);

  background-color: currentColor;
  border-radius: 50%;
  border: $borderWidth solid white;
  color: $defaultColor;
  height: $size;
  width: $size;

  &.is-inline {
    display: inline-block;
  }

  // Status
  @each $state, $color in $states {
    &.is-#{$state} {
      color: $color;
    }
  }

  // Sizes
  @each $name, $size in $sizes {
    $size: ceil($borderWidth * 2) + $size;
    &.is-#{$name} {
      height: $size;
      width: $size;
    }
  }

  &.is-icon {
    $size: 16px;
    background-color: white;
    border-width: 0;
    height: $size;
    width: $size;
  }
}
