// Dependencies
@import "pack/seed-family/_index";
@import "pack/seed-this/_index";
@import "../mixins/backdrop-styles";

.c-Textarea {
  @import "../configs/color";
  @import "../resets/base";
  $block: this();
  $height: 36px;
  $line-height: 20px;
  $padding: 8px;
  $states: error, success, warning;

  position: relative;

  &__field {
    @import "../resets/base";
    background-color: transparent;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    display: block;
    line-height: $line-height;
    min-height: $height;
    outline: none;
    overflow: hidden;
    padding: $padding;
    position: relative;
    resize: none;
    width: 100%;
    z-index: 1;

    @include parent("#{$block}--resize") {
      resize: vertical;
    }

    @include parent("#{$block}--resizeBoth") {
      resize: both;
    }
  }

  &__backdrop {
    @include backdrop-styles($block, $states);
  }

  &__ghost {
    @import "../resets/base";
    display: block;
    left: 0;
    line-height: $line-height;
    min-height: $height;
    padding: $padding;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
