@import "../configs/constants";
@import "../configs/font";

.c-Text {
  @import "../configs/color";
  @import "../resets/base";
  $states: $STATES;
  $shades: faint, muted, subtle;
  $sizes: (11, 12, 13, 14, 15, 16, 20, 48);

  line-height: 1.5;

  // Select
  &.is-disableSelect {
    user-select: none;
  }

  // Shades
  @each $shade in $shades {
    &.is-#{$shade} {
      color: _color(text, $shade);
    }
  }

  // Sizes
  @each $size in $sizes {
    &.is-#{$size} {
      font-size: #{$size}px;
      line-height: 1.5;
    }
  }

  // States
  @each $state in $states {
    &.is-#{$state} {
      color: _color(state, $state, color);
    }
  }

  // Truncate
  &.is-truncate {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.is-word-wrap {
    word-break: break-word;
  }

  // Resets
  &.is-line-height-reset {
    line-height: 1;
  }

  // Styles
  &.is-all-caps {
    letter-spacing: 0.4px;
    text-transform: uppercase;
  }

  &.is-samp {
    font-family: $font-family-code;
  }
}
