@import "../../configs/color";

.c-DropdownItem {
  @import "../../resets/base";
  cursor: pointer;
  padding: 0;
  user-select: none;

  &:last-child {
    border: none;
  }

  &.is-hover {
    background-color: _color(grey, 300);
  }
  &.is-focused {
    background-color: _color(grey, 300);
  }
  &.is-selected {
    background-color: _color(blue);
    color: white;
  }

  &__link {
    display: block;
    outline: none;
    padding: 8px 16px;

    &:active {
      background-color: _color(grey, 400);
    }
  }
}
