.c-DropdownMenu {
  position: relative;
  width: 200px;
  z-index: 1;

  &__content {
    min-height: 60px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 5px 0;
  }

  // Modifiers
  &.is-sub-menu {
    margin-top: -6px;
  }
}
