.c-Inline {
  @import "../../resets/base";
  $spacing: (
    xs: 2px,
    sm: 4px,
    md: 8px,
    lg: 10px,
  );
  $defaultSpacing: 4px;

  display: block;
  margin-bottom: -($defaultSpacing);
  margin-left: 0;
  padding-left: 0;

  &:after {
    box-sizing: border-box;
    content: " ";
    clear: both;
    display: table;
  }

  &:last-child {
    margin-bottom: -($defaultSpacing);
  }

  // Sizes
  @each $size, $value in $spacing {
    &.is-#{$size} {
      margin-bottom: -($value);
      margin-right: -($value);

      &:last-child {
        margin-bottom: -($value);
      }

      .c-InlineItem {
        margin-bottom: $value;
        margin-right: $value;
      }
    }
  }
}
