{
  "extends": "react-app",
  "parser": "babel-eslint",
  "plugins": [],
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "15.0"
    }
  },
  "globals": {
    "cy": true
  }
}
