@import "./color";

// Global
$HS_APP_FONT_FAMILY: "Aktiv Grotesk","Helvetica Neue",Helvetica,Arial,sans-serif !global;
$HS_APP_FONT_SIZE: 14px !global;

// Inputs
$HS_APP_INPUT_LABEL_COLOR: _color(text) !global;
$HS_APP_INPUT_BORDER_RADIUS: 3px !global;
$HS_APP_INPUT_FONT_SIZE: $HS_APP_FONT_SIZE !global;
$HS_APP_INPUT_FONT_SIZE_SM: 13px !global;