@import "../../configs/color";

.c-SkeletonBlock {
  @import "../../resets/base";
  $bg: _color(grey, 300);
  $shine: _color(grey, 200);
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: Blue_Skeleton_Block_shimmer;
  animation-timing-function: linear;
  background: $bg;
  background-image: -webkit-linear-gradient(left, $bg 0%, $shine 20%, $bg 40%, $bg 100%);
  background-image: linear-gradient(left, $bg 0%, $shine 20%, $bg 40%, $bg 100%);
  background-repeat: no-repeat;
  background-size: 800px 100%;
  height: 20px;
  position: relative;
  width: 20px;
}

@keyframes Blue_Skeleton_Block_shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
