@import "pack/seed-dash/_index";
@import "pack/seed-family/_index";

.c-SkeletonAvatar {
  @import "../../resets/base";
  $block: this();
  $sizes: (
    lg: (
      size: 52px,
      font-size: 13px,
    ),
    md: (
      size: 42px,
      font-size: 13px,
    ),
    sm: (
      size: 26px,
      font-size: 10px,
    ),
  );
  $default-size: _get($sizes, md, size);
  height: $default-size;
  margin-bottom: 8px;
  width: $default-size;

  // Styles
  &.is-circle {
    border-radius: 200%;
  }
  &.is-rounded {
    border-radius: 3px;
  }
  &.is-square {
    border-radius: 0;
  }

  // Sizes
  @each $size, $values in $sizes {
    &.is-#{$size} {
      $sz: _get($values, size);
      height: $sz;
      font-size: _get($values, font-size);
      width: $sz;
    }
  }
}
