&.is-down {
  &.is-mounting {
    transform: translate(0, -10px);
  }

  &.is-mounted {
    transform: translate(0, 0);
  }

  &.is-unmounting {
    transform: translate(0, -10px);
  }

  &.is-unmounted {
    transform: translate(0, -10px);
  }
}
