&.is-scale {
  &.is-mounting {
    transform: scale(0);
  }

  &.is-mounted {
    transform: scale(1);
  }

  &.is-unmounting {
    transform: scale(0);
  }

  &.is-unmounted {
    transform: scale(0);
  }
}
