.c-Animate {
  @import '../../resets/base';
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  visibility: hidden;

  // Modifiers
  &.is-block {
    display: block;
  }
  &.is-inline {
    display: inline;
  }
  &.is-inlineBlock {
    display: inline-block;
  }

  // Sequences
  &.ax-entering {
    visibility: hidden;
  }
  &.ax-entered {
    visibility: visible;
  }
  &.ax-exiting {
    visibility: visible;
  }
  &.ax-exited {
    visibility: hidden;
  }
}
