@import "../../configs/_color";
$seed-card-border: 1px solid rgba(_color(border, ui, dark), 0.7);
// Import Seed Pack
@import "pack/seed-card/_index";

.c-card {
  @import "../../resets/base";
  box-shadow: #{
    0 0 0 0 rgba(black, 0)
    };
  color: currentColor;
  display: block;
  padding: 16px;
  text-decoration: none;

  // Modifiers
  &.is-borderless {
    border: none;
  }

  &.is-clickable {
    cursor: pointer;
  }

  &.is-flex {
    display: flex;
    flex-direction: column;
    min-height: 0;
    width: 100%;
  }

  &.is-hoverable {
    box-shadow: #{
      0 1px 3px 0 rgba(black, 0.1),
      };
    transition: box-shadow 0.2s ease;

    &:hover {
      border-color: _color(grey, 700);
      box-shadow: #{
        0 3px 12px 0 rgba(black, 0.15),
        };
    }
  }

  &.is-seamless {
    padding: 0;
  }
}
