.c-Button {
  font-weight: normal;

  &--sm {
    font-size: 14px;
    height: 28px;
    padding: 0 0.5em;
  }
  &--md {
    font-size: 14px,
    height: 30px,
    padding: 0 1em,
  }
  &--lg {
    font-size: 16px;
    height: 42px;
    padding: 0 1.25em;
  }
}
