@import "../mixins/visibility";

.c-Choice {
  @import "../resets/base";
  
  .c-InputBackdrop {
    display: none;
  }
}

.c-ChoiceInput {
  &__input {
    @include visibility-forced;
    display: initial;
    opacity: initial;
    position: relative !important;
    top: -2px;
  
    &.is-checkbox {
      -webkit-appearance: checkbox;
      appearance: checkbox;
    }
    &.is-radio {
      -webkit-appearance: radio;
      appearance: radio;
    }
  }

  &__icon {
    display: none;
  }
}