@import '../configs/constants';
@import '../configs/color';

.c-InputWrapper {
  .c-Label {
    .c-Text {
      color: $HS_APP_INPUT_LABEL_COLOR;
    }
  }
}

.c-Input {
  @import '../resets/base';
}

.c-InputField {
  @import '../resets/base';

  &.is-sm {
    font-size: $HS_APP_INPUT_FONT_SIZE_SM;
    top: 0;
  }
}
