@import "pack/seed-this/_index";

.c-Modal {
  @import "../../resets/base";
  $block: this();
  $offset: 8px;

  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  min-height: 0;
  left: 0;
  padding: $offset;
  position: fixed;
  right: 0;
  top: 0;

  &__innerWrapper {
    display: flex;
    justify-content: center;
    max-height: 98%;
    max-width: 100%;
    min-height: 0;
    position: relative;
    width: auto;
    z-index: 1;
  }

  &__Card-container {
    display: flex;
    max-width: 100%;
    min-height: 0;
  }

  &__Card {
    outline: none;
  }

  & {
    #{$block}__Card { // Increase specificity on this style
      display: flex;
      flex-direction: column;
      min-height: 0;
    }
  }

  &__card-block {
    height: 100%;
  }

  &__close {
    $offset: 8px;
    position: absolute;
    right: $offset;
    top: $offset;
    transform: translateZ(0);
    z-index: 3;
  }
}
