{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": false,
        "shippedProposals": true,
        "targets": {
          "ie": "11",
          "edge": "16",
          "firefox": "85",
          "chrome": "86",
          "safari": "12",
          "node": "16.14.0"
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            {
              "removeViewBox": false,
              "cleanupIDs": false
            }
          ]
        }
      }
    ],
    [
      "babel-plugin-styled-components",
      {
        "displayName": true,
        "fileName": true
      }
    ]
  ],
  "exclude": ["node_modules"]
}
