@import url('https://fonts.googleapis.com/css?family=Barlow');
@import url('https://fonts.googleapis.com/css?family=Barlow:500&display=swap');

html {
  margin: 0;
}

body {
  margin: 20px;
}

body.with-hsapp-wrapper {
  margin: 0;
}
