@import "pack/seed-this/__index";
@import "../../configs/color";

.c-MessageAction {
  @import "../../resets/base";
  $block: this();
  padding-bottom: 4px;
  padding-top: 4px;

  a {
    color: _color(charcoal, 400);
  }
}
