@import "pack/seed-family/_index";
@import "pack/seed-this/_index";
@import "../../configs/color";

.c-MessageBubble {
  @import "../../resets/base";
  $block: this();
  $parent-wrapper: ".c-MessageBubbleWrapper";
  $parent-block: ".c-MessageChat";
  $br: 8px;
  $br-sm: 3px;
  $default-padding: 12px 20px 12px;

  background-color: _color(grey, 400);
  border: 1px solid _color(grey, 400);
  border-top-left-radius: $br;
  border-top-right-radius: $br;
  border-bottom-right-radius: $br-sm;
  border-bottom-left-radius: $br;
  display: inline-block;
  padding: $default-padding;
  max-width: 500px;
  text-align: left;

  &__body {
    color: _color(charcoal, 500);
    font-size: 13px;
    word-break: break-word;
  }

  &__from {
    color: _color(grey, 800);
    margin-bottom: 5px;
    text-align: right;
  }

  &__title {
    margin-bottom: 2px;
  }

  &__typing {
    padding: 4px 0;
  }

  @include parent("#{$parent-block} ~ #{$parent-block}") {
    border-top-right-radius: $br-sm;
  }

  &.is-from {
    background-color: white;
    border-color: _color(grey, 500);
    border-top-left-radius: $br-sm;
    border-top-right-radius: $br;
    border-bottom-right-radius: $br;
    border-bottom-left-radius: $br-sm;

    @include parent("#{$parent-block} ~ #{$parent-block}") {
      border-top-right-radius: $br;
    }

    @include parent("#{$parent-block}:last-child") {
      border-top-right-radius: $br;
      border-bottom-left-radius: $br;
    }
  }

  // Direction
  &.is-rtl {
    direction: rtl;
    text-align: right;
  }

  // Sizes
  &.is-md {
    padding: $default-padding;
  }
  &.is-sm {
    padding: 5px;
  }

  // Styles
  &.is-primary {
    background-color: _color(blue);
    border-color: _color(blue);
    color: white;

    * {
      color: currentColor;
    }

    #{$block}__title {
      opacity: 0.6;
    }
  }

  &.is-note {
    background-color: _color(yellow, 200);
    border-color: _color(yellow, 400);
    color: _color(yellow, 800);

    * {
      color: currentColor;
    }
  }

  // Themes
  &.is-theme-embed {
    padding: 12px 15px;
    max-width: 100%;
  }
}
