@import "pack/seed-this/__index";
.c-MessageChatBlock {
  @import "../../resets/base";
  $block: this();
  $timestamp-size: 60px;
  display: block;
  margin: 0 0 2px;

  &:last-child {
    margin-bottom: 0;
  }

  &__timestamp {
    min-width: $timestamp-size;
  }

  &__block {
    max-width: calc(100% - #{$timestamp-size});
  }

  &.is-from {
    #{$block}__flexy {
      justify-content: flex-start;
    }
  }

  &.is-to {
    #{$block}__flexy {
      justify-content: flex-end;
    }
  }

  // Themes
  &.is-theme-embed {
    &.is-type-action {
      #{$block}__block {
        margin: auto;
      }
    }
    #{$block}__block {
      max-width: 100%;
    }
  }

  &.is-theme-notifications {
    margin-bottom: 5px;

    #{$block}__flexy {
      justify-content: flex-end;
    }

    #{$block}__block {
      max-width: 100%;
    }
  }

  // Types
  &.is-type-action {
    #{$block}__block {
      max-width: 100%;
    }
  }
}
