@import "pack/seed-family/_index";
@import "pack/seed-this/_index";
@import "../../configs/color";

.c-MessageContent {
  @import "../../resets/base";
  max-width: 500px;
  text-align: left;

  // Direction
  &.is-rtl {
    direction: rtl;
    text-align: right;
  }
}
