@import 'pack/seed-breakpoints/_index';
@import 'pack/seed-this/_index';

.c-MessageMedia {
  @import '../../resets/base';
  $block: this();
  margin-bottom: 10px;
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }

  &__caption {
    padding: 8px;
  }

  // Adding scope
  &__bubble.c-MessageBubble {
    background-color: white;
    border: none;
    border-radius: 8px !important;
    box-shadow: #{0 0 0 1px rgba(black, 0.16) inset, 0 2px 3px rgba(black, 0.08),
      };
    display: inline-block;
    padding: 3px;
  }

  &__mediaContainer {
    padding-bottom: 0;

    #{$block}__media {
      cursor: pointer;
    }
  }

  /**
   * Modal
   */
  // Adding scope
  &__modal.c-Modal {
    @include breakpoint(md) {
      padding: 20px;
    }
  }

  &__modal {
    #{$block}__media {
      img {
        border-radius: 0px;
      }
    }
  }

  &__modalCard {
    overflow: hidden;
  }
}
