@import "pack/seed-this/_index";

.c-Message {
  @import "../../resets/base";
  $block: this();
  margin-bottom: 20px;
  min-width: 320px;

  &__avatar-block {
    padding-bottom: 1px;
    padding-top: 1px;
    width: 28px;
  }

  &__from {
    margin-bottom: 7px;
    margin-left: 14px;
  }

  &.is-to {
    text-align: right;

    #{$block}__avatar-block {
      display: flex;
      align-self: flex-end;
    }
  }

  &.is-from {
    text-align: left;
  }

  // Modifiers
  &.has-avatar {
    #{$block}__from {
      padding-left: 18px;
    }
  }

  // Themes
  &.is-theme-embed {
    min-width: initial;

    #{$block}__avatar-block {
      margin-top: 8px;
    }
  }
  &.is-theme-notifications {
    margin-bottom: 0;
    min-width: initial;
  }
}
