@import "../configs/color";

@mixin backdrop-styles($block, $states) {
  $this: this();
  background-color: white;
  border: 1px solid _color(border, ui, dark);
  border-radius: 4px;
  bottom: 0;
  box-shadow: 0 0 0 0 rgba(_color(border), 0);
  left: 0;
  position: absolute;
  right: 0;
  transition: box-shadow 0.1s ease;
  top: 0;

  @include parent("#{$block}__field:focus ~ ") {
    border-color: _color(blue);
    box-shadow: 0 0 0 1px rgba(_color(blue), 0.3);
  }

  // Styles
  @include parent("#{$block}--seamless") {
    border-color: transparent;
    @include parent("#{$block}__field:focus ~ ") {
      border-color: transparent;
    }
  }

  // States
  @each $state in $states {
    @include parent("#{$block}.is-#{$state} #{$block}__field ~ ") {
      border-color: _color(state, $state, border-color);
    }
    @include parent("#{$block}.is-#{$state} #{$block}__field:focus ~ ") {
      box-shadow: 0 0 0 1px rgba(_color(state, $state, border-color), 0.3);
    }
  }
}
