@import "pack/seed-family/_index";

@mixin input-styles($padding: 8px) {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: $padding;
  padding-right: $padding;
  position: relative;

  // Elements
  &__item {
    position: relative;
    z-index: 1;
  }

  &__prefix,
  &__suffix {
    opacity: 0.3;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    top: 0;
    white-space: nowrap;

    @include parent(".has-value >") {
      opacity: 1;
    }
  }
}

@mixin input-normalize-autofill-styles($background: white) {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $background inset;
    background-clip: content-box;
    transition: background-color 5000s ease-in-out 0s;
  }
}
