@import '../configs/color';

@mixin linkStyles() {
  color: _color(blue, 600);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: _color(blue, 500);
    outline-width: 0;
    text-decoration: underline;
  }

  &:active {
    color: _color(blue, 500);
    outline-width: 0;
  }
}
