$seed-control-sizes: (
  xs: (font-size: 12px, height: 24px, padding: 0 10px),
  xssm: (font-size: 13px, height: 28px, padding: 0 0.5em),
  sm: (font-size: 13px, height: 32px, padding: 0 0.5em),
  md: (font-size: 13px, height: 40px, padding: 0 1em),
  lg: (font-size: 14px, height: 48px, padding: 0 1.5em)
);
